  .navbar-nav {
    width: 100%;
    text-align: center;
    padding-top: 6px
    } li {
      float: none;
      display: inline-block;
    }
  
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
.LeftSidePadder{
  margin-left: 10px;
}
.ImageCollapse{
  margin-left: -105px;
}
.containerdivNewLine{ 
  clear: both; 
  float: left; 
  display: block; 
  position: relative;
  margin-left: 105px;
}
.metaDeckAligner{
  margin-left: 15px;
}
.ExtremeImageCollapse{
  margin-left: -155px;
}
.enlarge:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:300px;
    height:auto;
}
.thumbnail:hover {
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}
.description{
    margin-left: 170px;
    margin-top: 150px
}
.body {
    background-image: url("./hearthstonelogo.jpg");
    background-size:cover;
}
form.submitted .ng-invalid
{
    border:1px solid #f00;
}
.messages
{
  color:red;
}